<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lab X Test Task! ))</title>
    <script type="importmap">
      {
        "imports": {
          "vue": "https://unpkg.com/vue@3/dist/vue.esm-browser.js"
        }
      }
    </script>
  </head>

  <body>
    <div id="app">
      <ul class="menu">
        <li class="menu__item" v-for="item in items">
          <a
            :href="item.href"
            class="menu__item__img"
            :style="{ 'background-image': 'url(' + item.img + ')' }"
          >
            <span class="menu__item__name">{{item.name}}</span>
            <span class="menu__item__addr">{{item.addr}}</span>
          </a>
          <ul class="dishes" v-for="dishItem in item.menu">
            <li class="dishes__item">
              <span class="dishes__item__name">{{dishItem.name}}</span>
              <span class="dishes__item__price">{{dishItem.price}}</span>
            </li>
          </ul>
          <div class="menu__price">{{item.price}}</div>
        </li>
      </ul>
    </div>

    <script type="module">
      import { createApp } from "vue";

      const data = [
        {
          name: "Город",
          addr: "Витебск, ул. Смоленская, 3/1",
          time: null,
          price: 6.2,
          img: "https://carte.by/source/photos/2017/03/22/gorod_p.jpg",
          href: "https://vitebsk.biz/",
          menu: [
            { name: "Сельдь с картофелем", price: 2.5 },
            { name: "Затирка с молоком", price: 1.2 },
            { name: "Блинчики с яблоками с топпингом", price: 2.5 },
          ],
        },
        {
          name: "Ностальгия",
          addr: "Витебск, пр-т Московский, 86",
          time: {
            from: "12:00",
            to: "16:00",
          },
          price: 8.95,
          img: "https://carte.by/source/photos/2020/03/11/c9fbfc8f431eab848379ad1b8b70b571_p.jpg",
          href: "https://vitebsk.biz/",
          menu: [
            { name: "Крем-суп из грибов", price: null },
            { name: "Голубцы «Ленивые»", price: null },
            { name: "Салат «Острый»", price: null },
          ],
        },
        {
          name: "Лямус",
          addr: "Витебск, пр-т Победы, 1",
          time: {
            from: "12:00",
            to: "16:00",
          },
          price: 14.5,
          img: "https://carte.by/source/photos/2015/11/30/liamus_p.jpg",
          href: "https://vitebsk.biz/",
          menu: [
            { name: "Салат-коктейль «Свежесть»", price: null },
            {
              name: "Рассольник «Ленинградский» с мясом и сметаной",
              price: null,
            },
            { name: "Блинчики с мясным фаршем", price: null },
          ],
        },
        {
          name: "Матрёшки",
          addr: null,
          time: null,
          price: 14,
          img: "https://carte.by/source/photos/2022/09/20/943f2b0aa171125a8fa14703ebe05ac9_p.jpg",
          href: "https://vitebsk.biz/",
          menu: [
            { name: "Салат «Олимп»", price: 3 },
            { name: "Суп дня", price: 4 },
            {
              name: "Поджарка из цыплёнка с грибами и гречневой кашей",
              price: 7,
            },
          ],
        },
        {
          name: "Lorem Ipsum",
          addr: null,
          time: null,
          price: 14,
          img: "https://vitebsk.biz/source/photos/2020/02/19/dsc-7319014821b8.jpg",
          href: "https://vitebsk.biz/",
          menu: [
            { name: "Lorem Ipsum", price: 3 },
            { name: "Lorem Ipsum 2", price: 4 },
            {
              name: "Lorem Ipsum 3",
              price: 7,
            },
          ],
        },
        {
          name: "Lorem Ipsum Lorem Ipsum",
          addr: null,
          time: null,
          price: 14,
          img: "https://vitebsk.biz/source/photos/2023/03/10/aktsii-mart-23-obschaya-0257e656e8.png",
          href: "https://vitebsk.biz/",
          menu: [
            { name: "Lorem Ipsum", price: 3 },
            { name: "Lorem Ipsum 2", price: 4 },
            {
              name: "Lorem Ipsum 3",
              price: 7,
            },
          ],
        },
      ];

      createApp({
        data() {
          return {
            items: data,
          };
        },
      }).mount("#app");
    </script>
  </body>
</html>
